<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat example</title>
</head>
<body>
<h2>Chat example page</h2>
<div class="chat-form">
    <label for="chat_inp">Enter message: </label>
    <input type="text" id="chat_inp" name="chat-inp">
    <button id="form-submit" onclick="sendMessage()">Send</button>
</div>
<div id="messages"></div>

<script defer>
    let wssLink = prompt('please enter you wss link: ');
    let socket = new WebSocket(wssLink);
    let chat_inp = document.getElementById("chat_inp")

    const sendMessage = () => {
        socket.send(JSON.stringify({text: chat_inp.value}));
    }

    socket.onopen = () => {
        console.log("Successfully connected from ws server");
    };

    socket.onclose = event => {
        console.log("Socket closed connection: ", event);
        socket.send("Client closed connection!")
    };

    socket.onerror = error => {
        console.log("Socket error: ", error);
        document.write('<html><body>invalid token</body></html>')
    };

    socket.onmessage = function(event) {
        console.log(event.data)

        let data = JSON.parse(event.data);
        let out = document.getElementById('messages');
        let chatContent = `<p><strong>${data.username}</strong>: ${data.text}</p>`;
        out.innerHTML += chatContent
    }
</script>
</body>
</html>